*{
  font-family: cursive;
  text-align: left;
  color: #fff;
}

body{
  background-color: #1C1C1E;
}

header{
  /* background-color: blue; */
  padding: 10px;
  height: 880px;
}

header>.topnav{
  /* background-color: green; */
  padding-left: 100px;
  padding-top: 1px;
  width: 250px;
  font-size: 30px;
}

header>.main_container{
  /* background-color: red; */
  padding-top: 100px;
  height: 580px;
}

header>.main_container>.leftside{
  /* background-color: chocolate; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_container>.leftside>.name{
  /* background-color: mediumseagreen; */
  padding: 25px;
  width: 400px;
}

.main_container>.leftside>.main_content{
  /* background-color: gray; */
  width: 400px;
  padding: 25px;
  font-size: 33px;
}
header>.main_container>.img_container{
  /* background-color: darkorchid; */
  text-align: center;
}

header>.main_container>.img_container img{
  /* background-color: rgb(51, 155, 97); */
  height: 400px;
  width: 400px;
}

#h_con{
  float: left;
  width: 50%;
}
.main_container::after {
  content: "";
  display: table;
  clear: both;
}
