*{
  font-family: cursive, Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  color: #fff;
}

body{
  background-color: #1C1C1E;
}

header{
  /* background-color: blue; */
  padding: 10px;
  height: 880px;
}

header>.topnav{
  /* background-color: green; */
  padding-left: 100px;
  padding-top: 1px;
  width: 250px;
  font-size: 30px;
}

.logo> span{
  color: blue;
}

header>.main_container{
  /* background-color: red; */
  padding-top: 80px;
  height: 650px;
}

header>.main_container>.leftside{
  /* background-color: chocolate; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_container>.leftside>.name{
  padding: 25px;
  width: 400px;
  font-size: 25px;
  word-spacing: 2px;
}

.main_container>.leftside>.name span{
  color: blue;
  font-weight: 600;
}

.main_container>.leftside>.main_content{
  /* background-color: gray; */
  width: 400px;
  padding: 10px;
  font-size: 50px;
}
.main_container>.leftside>.main_content h2{
  margin: 8px;
}
.main_container>.leftside>.main_content h2 a{
  text-decoration: none;
}
.main_container>.leftside>.main_content h2 a:hover{
  font-size: 65px;
  padding: 10px;
  color: blue;
  transition-delay: 0ms;
}

header>.main_container>.img_container{
  /* background-color: darkorchid; */
  text-align: center;
}

header>.main_container>.img_container img{
  /* background-color: rgb(51, 155, 97); */
  height: 400px;
  width: 400px;
}

#h_con{
  float: left;
  width: 50%;
}
.main_container::after {
  content: "";
  display: table;
  clear: both;
}
